/* GENERAL */
.upper{
	text-transform:uppercase;
}
strong{
	font-weight:500;
}
.vert-center{
	position: relative;
	top: 40%;
	transform: translateY(-60%);
}
.navbar-fixed-top.sticky {
//	background:red !important;
}
.navbar-fixed-top{
	border:0;
}
/* IMAGE OVERLAY */
.overlay-wrapper{
	text-align:center;
	width:100%;
	position:relative;
}
.overlay-bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align:center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;
}
.overlay {
	z-index: 9;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(80,80,80, 0);
	transition: background 0.8s;
}
.overlay-content {
	z-index: 10;
	display: block;
	opacity:1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: opacity 0.8s;
}
.overlay-hover-content {
	z-index: 10;
	opacity:0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transition: background 0.8s;
}
.overlay-wrapper.hoverable:hover{
	.overlay-hover-content {
		opacity:1;
		transition: opacity 0.8s;
	}
	.overlay-content {
		opacity:0;
		transition: opacity 0.8s;
	}
	.overlay{
		background: rgba(255,255,255, 1);
		transition: background 0.8s;
	}
}
.interior{
	border: solid 1px @light-gray;
}
navbar.sticky{
	z-index:999;
	background:red;
}
.logged-in{
//	margin-top: @admin-bar-height;
	header, #header-clone{
//		top: @admin-bar-height; // offset for admin bar
	}
}
#header-clone{
	display:none;
}
.stuck-navbar #header-clone {
	display:block;
}
.st-container, .st-container.stickyfooter{
	margin-top:-@header-height;
	padding-top:@header-height;	
}
.st-container.container.active{
	min-height:100vh;
	padding-left:0;
	padding-right:0;
	margin-left:-15px;
	.st-pusher{
		min-height:100vh;
		#sidebar-wrapper{
			display:inline-block;
		}
		.st-content-inner{
			padding-left:15px;
		}
	}
}
#sidebar-wrapper{
	min-height:100vh;
}
#wrapper.inactive{
	#sidebar-wrapper{
		display:none;
	}
}
.mobile-menu{
	display:block;
}
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.stickyfooter {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -@footer_height;
  /* Pad bottom by footer height */
  padding: 0 0 @footer_height;
}

/* Set the fixed height of the footer here */
#page-footer {
	background-color:#f7f7f7;
  min-height: @footer_height;
//  background: darken(@brand-primary, 5%);
  position: relative;
}
	#wrapper.st-container{
		padding-top:92px;
		margin-top:0 !important;
	}
.home{
	h2{
		font-size:18px;
	}
}
.bg-red, .bg-blue, .bg-green{
	height:100vh;
}
.bg-yellow{
	height:50%;
}
	// bootstrap override
	.no-gutter {
		margin-right: 0;
		margin-left: 0;
	}
	[class^="col-"].no-gutter,
	[class*=" col-"].no-gutter,
	.row.no-gutter > [class^="col-"],
	.row.no-gutter > [class*=" col-"] {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.container.no-gutter {
		padding-right: 0;
		padding-left: 0;
		margin-right: auto;
		margin-left: auto;
	}
@media (max-width: @screen-lg ) {
	.default-content{
		padding-left:15px;
		padding-right:15px;
	}
}
header.navbar{
	padding-top:20px;
	padding-bottom:20px;
 	.navbar-header{
		.navbar-brand{
			padding-left:0;
			padding-bottom:0;
		}
	}
}
#menu-main-menu{
	margin-left:10px;
}
a.header-logo{
	color:@green;
	font-size:30px;
	font-weight:500;
}
a.header-logo:active, a.header-logo:focus{
	text-decoration:none;
}

#welcome-one-obg, #welcome-one-o, #welcome-one-oc, #welcome-one-ow,
#welcome-two-obg, #welcome-two-o, #welcome-two-oc, #welcome-two-ow,
#welcome-three-obg, #welcome-three-o, #welcome-three-oc, #welcome-three-ow{
	height:100%;
}
#welcome-one-oc, #vendor-oc, #events-oc, #welcome-two-oc, #welcome-three-oc{
	padding:40px 40px 60px 40px;
	h2{
		margin-top:0;
	}

}
#welcome-one-oc, #welcome-two-oc, #welcome-three-oc{
	color:@white;
	text-align:left;
	h2{
		color:@white;
		margin-bottom:32px;
	}
}
.welcome-one-content, .welcome-two-content, .welcome-three-content{
	font-size:28px;
	line-height:32px;
	font-family:"PN-Semibold";
}
.welcome-one-secondary{
	margin-top:24px;
	font-size:16px;
	line-height:20px;
}
#vendor-oc{
	padding-bottom:30px;
	.vendor-content{
		@media (min-width: @screen-md ) {
			min-height:550px;
		}
		p,a{
			color:@light-gray;
		}
		h2{
			color:@green;
		}

		height:100%;
		position:relative;
		.vc-links{
			position:absolute;
			bottom:0px;
			width:100%;
			text-align:center;
			margin-top:30px;
			a{
				font-size:18px;
				display:block;
			}
			a:hover, a:focus, a:active{
				text-decoration:none;
				color: darken( @light-gray , 25%) ;
			}
			a.gv-button{
				font-size:16px;
				display:inline-block;
				margin-top:30px;		
				color:@green;
			}
		}
	}
}
#events-oc{
	.slick-track, .slick-list{
		height:100%;
	}
	.events-content{
		position:relative;
		height:100%;
	}
	height:100%;
	color:@white;
	text-align:left;
	position:relative;
	h2, p, a{
		color:@white;
	}
	.event-slider{
		height:100%;
		position:relative;
		overflow:hidden;
		width:100%;
		.slide-content{
			padding-top:100px;
		}
	}
	.button-wrap{
		position:absolute;
		bottom:18px;
		width:100%;
		text-align:center;
		a:active, a:focus, a:hover{
			text-decoration:none;
		}
		.gv-button{
			font-size:16px;
			border-color:@white;
		}
	}
	.slick-prev{
		z-index:9999;
		height:30px;
		
		background-color:blue;
	}
	.slick-track button{
		position:absolute;
		top:100px;
	}
}

.gv-button{
	padding:15px 30px;
	border:solid 1px @green;
	color:@green;
}
.gv-button:hover{
	text-decoration:none;
	opacity:0.5;
}
.nav .gv-button{
	padding:0;	
}
// GEODIRECTORY 
#geodir_carousel li {
	border:none;
}
.geodir-direction-nav{
	display:none;
}
.geodir-slides.clearfix img{
	margin:0 !important;
	border:0 !important;
}
.geodir_flexslider{
	box-shadow: none;
	-webkit-box-shadow: none;
}
.gv-gd-sidebar{
	padding-top:50px;
//	background-color:blue;
	.vendor-datum{
		padding:20px;
		span{
			color: @gray-darker;
		}
		label{
			display:block;
			color: @light-gray;
			span{
				color: @light-gray;
			}
		}
	}
}
#geodir-wrapper-content{
	width:100%;
}
@media (max-width: @screen-sm ) {
	.bg-red{
		height:50vh;
	}
	.bg-yellow{
		height:100%;
	}
}
ul.slick-dots{
	width:100%;
	text-align:center;
	position:absolute;
	bottom:90px;
	list-style-type:none;
	margin:0;
	padding:0;
	li{
		display:inline-block;
	}
	button{
		border-radius: 50%;
		width: 15px;
		height: 15px; 		
		color:transparent;
		margin-right:10px;
		background-color:transparent;
		border: 2px solid @gray;
		border-image-source: none;
		border-image-slice: none;
		border-image-width: none;
		border-image-outset: none;
		border-image-repeat: none;	
		outline:0;
	}
	.slick-active button{
		background-color:@gray;
		border-color: transparent !important;
	}
}
.date-list{
	list-style-type:none;
	margin:0;
	padding:0;
	margin-bottom:30px;
}
.geodir-login{
	//position:absolute;
	//top:50%;
	//transform: translateY(-50%);
	padding-top:100px;
	padding-bottom:50px;
	.msg-box{
		margin-top:-200px;
		padding-bottom:150px;	
	}

}
.login_form_l, .registration_form_r{
	border-color:@green;
	input{
 		border:1px solid @green !important;
	}
	input:focus, input:active {
		outline:none !important;
	  box-shadow: none; 
//	  padding: 3px 0px 3px 3px;
//	  margin: 5px 1px 3px 0px;
		border:1px solid @green !important;
	}
	input:-webkit-autofill {
	    -webkit-box-shadow:0 0 0 50px @bg-gray inset !important; /* Change the color to your own background color */
	    -webkit-text-fill-color: #333;
	}

	input:-webkit-autofill:focus {
	    -webkit-box-shadow: 0 0 0 50px white inset !important;
	    -webkit-text-fill-color: #333;
	} 

}
.loginform1{
	border-color: @gray-lighter;
	input:not(.b_signin){
 		border:1px solid @gray-lighter !important;
	}
	input:focus, input:active {
		outline:none !important;
	  box-shadow: none; 
//	  padding: 3px 0px 3px 3px;
//	  margin: 5px 1px 3px 0px;
		border:1px solid @gray-lighter !important;
	}
	input:-webkit-autofill:not(.b_signin) {
	    -webkit-box-shadow:0 0 0 50px white inset !important; /* Change the color to your own background color */
	    -webkit-text-fill-color: @gray;
	}

	input:-webkit-autofill:focus:not(.b_signin) {
	    -webkit-box-shadow: 0 0 0 50px white inset !important;
	    -webkit-text-fill-color: @gray;
	} 
	.form-control, input:not(.b_signin), textarea, .chosen-container-single .chosen-single, .top_label input.medium, input[type=text]:not(.b_signin), input[type=url], input[type=email], input[type=tel], input[type=number], input[type=password]{
		color:@gray-light;
	}

}

@media (max-width: @screen-md ) {
	.navbar-header{
		padding-left:20px;
	}
	.navbar-brand{
		width:85%;
	}
	#welcome-one-oc{
		.vert-center{
			top:auto;
			transform:none;			
		}
	}
}
.geodir-loc-bar {
	padding: 0;
	border-top: 0; //1px #e1e1e1 solid;
	border-bottom: 0; //1px #e1e1e1 solid;
	margin: 0;
	.geodir-loc-bar-in {
		background: #f3f3f3;
		border: 0; //1px #e6e6e6 solid;
		padding: 22px;
	}
}
.geodir-breadcrumb{
	display:none;
}
.geodir_new_listing{
	display:none;
}
.geodir-list-view-select{
	display:none;
}
.geodir-gridview.gd-post-gd_place{

	padding:10px;
//margin:10px;
}
@media (min-width: @screen-md ) {
.geodir_category_list_view li.gridview_onethird {
  width: 30.6666666667%;
	margin:1%;
}
}
.geodir-widget{
	h3{
		color: @gray-light;
	}
}
.b_signin{
	width:100%;
}
.geodir_submit_search{
outline:none;
	background-color:transparent;
	padding:4px 20px 3px;
}
.b_signin, .geodir_submit_search{
	color: @green;
	font-family: 'PN-Bold';
	font-weight:bold;
	border:2px solid @green !important;
}
.geodir-new-forgot-link{
	a, a:active{
		color: @green;
	}
	a:hover, a:focus{
		color: darken( @green, 10%);
		text-decoration:none;
	}
}
.geodir-loc-bar-in{
	text-align:center;
	.geodir-search{
		display:inline-block;
		float:none;
	}
}
.header-banner{
	width: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover; 
    -o-background-size: cover;

	height:175px;
}
.home{
	.banner-wrap{
		display:none;
	}
}
.sidebar{
	padding-top:50px;
	padding-left:30px;
}
.main{
	padding-right:30px;
}
.msg-box{
	padding-top:200px;
}
.post-type-archive-event{
	article.event{
		display:block;
		border-bottom: solid 1px @green;
		padding-bottom:30px;
		h2{
			display:inline-block;
			color:@gray;
			text-transform:uppercase;
			font-family:'PN-Bold';
		}
	}
}
.page-header{
	text-align:center;
	h1{
		color:@gray;
		font-family:'PN-Bold';
		text-transform:uppercase;
		display:inline-block;
	}
}
.page-template-default{
	.default-content{
		padding-right:30px;
		font-size:16px;		
		h2{
			color:@green;
			margin-bottom:30px;
		}
		img{
			margin:20px;
		}
	}
}
body{
	font-size:16px;

}
strong{
	font-family: 'PN-Bold';
}
a{
	color:@green !important;
	font-family:'PN-Bold';
}
#events-oc{
	a{
		color:white !important;
	}
}
.footer-nav .container{
	ul, #menu-footer{
		float:left;
		margin:20px;
		li{
			a{
				color: lighten( @gray, 10%) !important;
			}
			a:hover{
				text-decoration:none;
				opacity:0.5;
			}
			a:active{
				text-decoration:none;
			}
		}
	}
}
.login-wrap{
	position:relative;
}
.geo-select{
	color:@gray-light;
	width: 96%;
    margin-bottom: 3px;
	padding:7px;
}
.file-row{
	border-bottom:solid 1px @green;
}
#searchform{
	display:inline-block;
	float:right;
	input:nth-child(1){
		margin:0;
		margin-top:10px;
	}
	input:nth-child(2){
		margin:-1px;
	}
}

.cal-nav{  }
.cal-month { display: inline-block; width: 100%; }
.cal-day, .cal-emptyday {
	padding:10px;
	display:inline-block;
	vertical-align:top;
	width: 100%;
	height: auto;
}
.cal-emptyday { color: transparent;}
.cal-day.current { background-color:#A9A7AD;  }
.cal-day.past{
	display:none !important;
}
.cal-day.past, .cal-day.past a { background-color: #d7d7d8; color:grey}
.cal-prev { display:inline-block; }
.cal-next{ float:right; }
.cal-error-message{ height: 50px; background-color: #d0d0d0; color: red; }
.cal-week-header {
    display: none;
    font-size: 0.875em;
    font-family: 'Futura W01 Bold', 'Arial Black', 'Arial Bold', sans-serif;
    text-transform: uppercase;
    background: #e8e5de;
    text-align: center; }
 .cal-day-header.desktop {
 	vertical-align: top;
 	width: 14%;
    display: inline-block;
    border-right: 1px solid white;
    padding: 4px; }
.cal-day-header.mobile { display: none; }
.cal-month .cal-week {
  display:block; 
}
.cal-month .cal-day {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  border: 1px solid grey;
  height: auto; }
.cal-month .cal-emptyday {
  vertical-align: top;
  display: none;
  border: 1px solid white;
  background: #f9f8f6; }
@media (min-width: @screen-lg ) {
.cal-day.past{
	display:table-cell !important;
}
.cal-month .cal-day, .cal-month .cal-emptyday, .cal-day-header.desktop {
   display: table-cell;
}
.cal-week-header {
    display: table-row;
}
.cal-month .cal-week {
  display: table-row; 
}
	.cal-month { display: table; width: 100%; }
	.cal-day, .cal-emptyday {
		padding:10px;
		display:inline-block; 
		vertical-align:top; 
		width: 13%; 
		height: 100px;
	}
	.cal-month .cal-day {
	  vertical-align: top;
	  display: table-cell;
	  width: 14%;
	  border: 1px solid grey;
	  height: 8em; 
	}
}